@tailwind base;
@tailwind components;
@tailwind utilities;

.clipboard {
  position: absolute;
  right: -5px;
  bottom: 42%;
  transform: translate(-50%, -50%);
}
.clipboard:hover {
  padding: 2px;
  transition: all 0.3s;
  border-radius: 5%;
}
